body {
    margin: 0%;
}

.navbar {
    width: 100;
    background-color: white;
    position: relative;
    top: 0%;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 15px;
    padding-right: 40px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
} 

.text {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0%;
    font-size: 50px;
    font-style: normal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forms {
    display: flex;
    justify-content: center;
    border: 0ch;
    border-radius: 50%;
    margin: 0;
} 

form {
    border-radius: 50%;
}

.btn { 
    color: black; 
    font-size: 45px;
    text-align: center;
    text-decoration: none; 
    justify-content: center; 
}

h2 { 
    font-size: medium;
    font-weight: normal; 
}

h2 a {
    font-size: medium;
    font-weight: normal; 
    color: blue;
    margin: 0.5%;
} 

#ftr { 
    background-color: lightgray; 
    margin-bottom: 10%;
    position: static; 
    justify-content: left;
    padding: 1%;
    margin: 0%; 
    border-bottom: 50%;
    border-color: white;
} 

#ftr-2 ul { 
    background-color: lightgray; 
    margin-bottom: 10%;
    position: static; 
    justify-content: left;
    padding: 1%;
    margin: 0%;

} 