  * { 
     font-family: Arial, sans-serif; 
  }
  
body {
    margin: 0%; 

}

.navbar {  
    display: flex;
    justify-content: flex-end;
    width: 100;
    background-color: white;
    position: relative;
    top: 0%;
    margin-right: 20px;
    font-weight: normal; 
}

@media (max-width:390px) { 

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 15px;
  /*  padding-right: 40px; */
    text-decoration: none;
}

.navbar li {
    padding-top: 8.5px;
    font-size: 13px;
}

.navbar img { 
    justify-content: flex-end;
    display: flex;
    position: relative; 
    height: 33px;
    width: 33px;
}

.navbar img:hover {
    background-color: lightgray;
    box-shadow: #F1F1F1 1px 1px 5px 5px;
    padding: 0px; 
    border-color: lightgray;
    border-radius: 60%;
    opacity: 50%;
}

.navbar li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
} 

.text1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0%;
    font-size: 50px;
    font-style: normal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5%;
}

.forms {
    gap: 1em;
    align-items: center;
    padding: 1em; 
    display: flex;

    height: .5rem; 
    width: 40rem; 
    border: solid 1px;
    border-radius: 60px;
    justify-content: center;
    position: relative;
}

.forms:hover { 
    box-shadow: #E8E8E8 1px 2px 4px 4px;
}

.forms img {
    width: 2em;
    height: 2em; 
    display: flex;


}

.forms input { 
    border: 0px; 
    border-color: transparent; 
    outline: none;
    font-size: large;
    justify-content: center;
    height: 2rem;
    width: 100%;
    position: relative;
} 

.btn { 
    color: black; 
    font-size: 45px;
    text-align: center;
    text-decoration: none; 
    justify-content: center; 
    margin: 0px;
    padding: 0px;

}

.btn:hover {
    border-width: 5px;
    border-color: black;
}

button {
    background-color: #EFF9FF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    opacity: 100%;
}  

.text2 {
    margin: 0px;
    text-align: center;
}

h2 { 
    font-size: medium;
    font-weight: normal; 
}

h2 a {
    font-size: medium;
    font-weight: normal; 
    color: blue;
    margin: 0.5%;
} 

footer {
    width: 100%;
    position: fixed;
    bottom: 0px; 
    
} 

#ftr {background-color: #D9D9D9 ; 
    position: static; 
    justify-content: left;
    padding: 10px 10px ; 
    margin-bottom: 0%;
    border-bottom: solid 1px;
    border-color: #B9B9B9 ; 
    font-size: 14px;
      } 

.ftdr-2 { 
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap; 
    display: flex; 
    background-color: #d9d9d9; 
}

.ftdr-21 {
    width: 33.33%;
    font-size: 14px; 
}

.ftdr-22 {
    width: 33.33%;
    font-size: 14px; 
}

.ftdr-23 {
    width: 33.33%;
    font-size: 14px; 
}
 

#ftdr-2 li:hover {
    text-decoration: underline;
}